<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Movimentações</title>
</head>
<body>

    <h1>Movimentações financeiras</h1>

    <form method="get">
        <input
            type="text"
            name="q"
            placeholder="Buscar por descrição"
            value="{{ request.GET.q }}"
        >

        <button type="submit">
            Buscar
        </button>
    </form>

    <ul>
        {% for movimentacao in movimentacoes %}
            <li>
                <strong>{{ movimentacao.descricao }}</strong>
                —
                R$ {{ movimentacao.valor }}
                —
                {{ movimentacao.categoria }}
                —
                {{ movimentacao.data_registro }}
            </li>
        {% empty %}
            <li>Nenhuma movimentação encontrada.</li>
        {% endfor %}
    </ul>

</body>
</html>